<!DOCTYPE html>
<meta charset="utf-8">
<title>{{#if title}}{{title}} &ndash; {{/if}}{{authorName}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>{{{css}}}</style>
{{#if isBlog}}
<link rel="alternate" href="/blog/feed.xml" type="application/atom+xml" title="cheeaunblog">
{{/if}}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20436246-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-20436246-1');
</script>
<div id="container">
  <header role="banner">
    <h1>
      <a href="/">{{{logo}}}</a>
    </h1>
  </header>
  <div id="content">
    {{#if isArticle}}<article>{{/if}}
      {{{contents}}}
    {{#if isArticle}}</article>{{/if}}
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
  </footer>
</div>
<script>
window.onload = function(){
  var $figures = document.getElementsByTagName('figure');
  if (!$figures.length) return;
  var asideImages = function(){
    for (var i=0, l=$figures.length; i<l; i++){
      var $figure = $figures[i];
      var $images = $figure.getElementsByTagName('img');
      if ($images.length == 1){
        var $img = $images[0];
        var width = $img.naturalWidth || $img.width;
        if (width <= 280 && (width/$figure.parentNode.offsetWidth*100 < 50)){
          $figure.className = 'image-aside';
        } else if ($figure.className){
          $figure.className = '';
        }
      }
    }
  };
  asideImages();
  window.onresize = asideImages;
};
</script>